header {
    background-color: aqua;
    color:black
}


cabecalho-imagem{

    width:20%;
}

.cabecelho{

background-color:brown;
color: rgb(254, 151, 26);
display: flex;
justify-content: space-around;
}

.cabecalho-lista-item{

    display: inline-block

}